
<script>
$(document).ready(function() {
    $("#howdoesitwork").popover({
            placement: 'bottom',
            html: 'true',
            title : '<span class="text-info"><strong>title</strong></span>'+
                    '<button type="button" id="close" class="close" onclick="$(&quot;#example&quot;).popover(&quot;hide&quot;);">&times;</button>',
            content : 'test'
    });
});
</script>

<div class="row" style="text-align:center;">
<%= form_tag "/auth/twitter", :method => "get", :html => {:class => "form-horizontal"} do%>
<legend>
Did someone unfollow or unfriend you?  Keep track of your social networks with this site.
</legend>

<div class='form-actions' style="width:30%;margin:auto;"> 
<p class="help-block">
Authenticate with a social network:
</p>

<p id="twitterlogin">
<%=image_submit_tag("twitter_signin.png") %>
</p>

<p id="fblogin">
	<a href="<%=fbauth.url_for_oauth_code%>"><%=image_tag("facebook_signin.png")%></a>
</p>
</div>

<button type="button" id="howdoesitwork" class="btn btn-primary">How does it work?</button>

<%end%>

</div>

