<style>
.introtext{
	font-size: 16px;
	font-weight: 500;
}
</style>

<div class="row" style="text-align:center;">
<%= form_tag "/auth/twitter", :method => "get", :html => {:class => "form-horizontal"} do%>
<p class="lead">
Someone unfollow or unfriend you?  Keep track of your social networks here!
</p>
<div class="jumbotron">
<div style="width:40%;margin:auto;">

<p class="introtext">
Authenticate with a social network:
</p>

<p id="twitterlogin">
<%=image_submit_tag("twitter_signin.png") %>
</p>

<p id="fblogin">
	<a href="<%=fbauth.url_for_oauth_code%>"><%=image_tag("facebook_signin.png")%></a>
</p>
</div>
</div>


<%end%>

</div>

